<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="icon" type="image/png" href="{{ asset('images/logo.png') }}" />
        {% endblock %}
    </head>
    <body>
        {% block header%}{% endblock %}
        <div class="container">
            {% block body %}{% endblock %}
        </div>

        <!-- Navigation -->
        <nav class="navbar fixed-top navbar-expand-lg fixed-top">
            <div class="container">
                <a href="{{ path('tricks') }}" class="navbar-brand text-white">
                    <img src="{{ asset('images/logo.png') }}" class="d-inline-block align-bottom" alt="logo">
                    Snowboard
                </a>
                <button class="navbar-toggler navbar-toggler-right navbar-dark" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{{ path('tricks') }}"><span class="sr-only">(current)</span>Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('add_trick') }}" class="nav-link font-weight-bold">Trick</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('security_registration') }}" class="nav-link font-weight-bold">Inscription</a>
                    </li>
                    {% if not app.user %}
                        <li class="nav-item">
                            <a href="{{ path('security_login') }}" class="nav-link font-weight-bold">Connexion</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{{ path('security_logout') }}" class="nav-link font-weight-bold">déconnexion</a>
                        </li>
                    {% endif %}
                </div>
            </div>
        </nav>

        <div id="footer-wrapper" class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="widget py-2">
                            <div class="menu py-3">
                                <a class="font-weight-bold" href="{{ path('tricks') }}"><span class="sr-only">(current)</span>Accueil</a>
                            </div>
                            <div class="menu py-3">
                                <a href="{{ path('add_trick') }}" class="font-weight-bold">Trick</a>
                            </div>
                            <div class="menu py-3">
                                <a href="{{ path('security_registration') }}" class="font-weight-bold">Inscription</a>
                            </div>
                            <div class="menu py-3 mb-4">
                                {% if not app.user %}
                                    <a href="{{ path('security_login') }}" class="font-weight-bold">Connexion</a>
                                {% else %}
                                    <a href="{{ path('security_logout') }}" class="font-weight-bold">déconnexion</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="widget about-us-widget">
                            <h4><strong>À propos</strong> Snowboard</h4>
                            <p class="text-justify text-white py-2">
                                Le snowboard, surf des neiges, planche à neige est un sport de glisse sur neige.
                                L'équipement se compose d'une planche de snowboard, d'une paire de fixations
                                (il en existe plusieurs types) et d'une paire de bottes adaptées (boots).
                                La position sur la planche est proche de celle du skateur : de profil,
                                les pieds posés sur une ligne en travers de la planche, l'un derrière l'autre.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="widget">
                            <h4>Tags populaires</h4>
                            <div class="tagcloud py-3">
                                <a href="" class="text-white tag-link btn btn-white btn-xs">Big air</a>
                                <a href="" class="text-white tag-link btn btn-white btn-xs">Mute</a>
                                <a href="" class="text-white tag-link btn btn-white btn-xs">Truck driver</a>
                                <a href="" class="text-white tag-link btn btn-white btn-xs">Stalefish</a>
                                <a href="" class="text-white tag-link btn btn-white btn-xs">Flip</a>
                                <a href="" class="text-white tag-link btn btn-white btn-xs">Rotation</a>
                                <a href="" class="text-white tag-link btn btn-white btn-xs">Slide</a>
                                <a href="" class="text-white tag-link btn btn-white btn-xs">Indy</a>
                                <a href="" class="text-white tag-link btn btn-white btn-xs">Japan</a>
                                <a href="" class="text-white tag-link btn btn-white btn-xs">Trick</a>
                                <a href="" class="text-white tag-link btn btn-white btn-xs">Seat belt</a>
                                <a href="" class="text-white tag-link btn btn-white btn-xs">Grabs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center py-3">
                        <a href="https://github.com/ZAmararene" class="mx-4"><i class="fab fa-github-alt fa-2x"></i></a>
                        <a href="https://fr.linkedin.com/in/zina-amararene-291b2858" class="mx-4"><i class="fab fa-linkedin-in fa-2x"></i></a>
                        <a href="https://gitlab.com/zina.amararene" class="mx-4"><i class="fab fa-gitlab fa-2x"></i></a>
                    </div>

                    <div class="col-md-12 text-center wow">
                        <span class="copyright text-white">Copyright 2019. Conçu par Zina Amararene </span>
                    </div>
                </div>
            </div>
        </footer>

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/trumbowyg@2"></script>
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('home') }}
        {% endblock %}
    </body>
</html>