{% extends 'base.html.twig' %}

{% block title %}
    Snowboard
{% endblock %}

{% block header%}
    <header class="h-100 position-relative" id="carousel">
        <div class="carousel slide" data-ride="carousel" id="carouselExampleIndicators">
            <ol class="carousel-indicators">
                <li class="active" data-slide-to="0" data-target="#carouselExampleIndicators"></li>
                <li data-slide-to="1" data-target="#carouselExampleIndicators"></li>
                <li data-slide-to="2" data-target="#carouselExampleIndicators"></li>
            </ol>
            <div
                class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image: url('{{ asset('images/bg12.jpg') }}')">
                    <div class="carousel-caption d-md-block">
                        <h2 class="py-3">La réussite est l'aboutissement d'une succession d'echecs</h2>
                    </div>
                </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('{{ asset('images/bg3.jpg') }}')">
                    <div class="carousel-caption d-md-block">
                        <h2 class="py-3">La réussite est l'aboutissement d'une succession d'echecs</h2>
                    </div>
                </div>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('{{ asset('images/bg4.jpg') }}')">
                    <div class="carousel-caption d-md-block">
                        <h2 class="py-3">La réussite est l'aboutissement d'une succession d'echecs</h2>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" data-slide="prev" href="#carouselExampleIndicators" role="button">
                <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" data-slide="next" href="#carouselExampleIndicators" role="button">
                <span aria-hidden="true" class="carousel-control-next-icon"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="load-page text-center position-absolute" id="scrollBotm">
            <a href="#scrollBotm">
                <i class="fas fa-angle-double-down fa-7x"></i>
            </a>
        </div>
    </header>

{% endblock %}
{% block body %}

    <div class="title-home" id="tricks">
        <h1 class="my-5 text-center text-uppercase">Snowboard</h1>
        <p class="mb-3 text-center font-weight-bolder">Imiter ou élaborer sa propre signature? Telle est la question.</p>
    </div>

    {% for message in app.flashes('notice') %}
        <div class="alert alert-warning alert-dismissible fade show w-100 col-sm-12 col-md-6 offset-md-3 rounded-0 text-center" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    <section id="tricks">
        <div class="row">
            {% for trick in tricks %}
                <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
                    <div class="trick card h-100 rounded-0">
                        {% if trick.pictures is empty %}
                            <img src="{{ asset('images/default-snowboard.jpg') }}" class="img-fluid" alt="Image trick">
                        {% endif %}
                        {% for picture in trick.pictures %}
                            <div class="card-img-top">
                                {% if loop.first %}
                                    <img src="{{ asset('uploads/pictures/') ~ picture.name }}" class="img-fluid" alt="Image trick">
                                {% endif %}
                            </div>
                        {% endfor %}

                        <div class="card-footer font-weight-bolder rounded-0">
                            <div class="row">
                                <div class="col-7 text-truncate">
                                    <a href="{{ path('trick_show', {'id' : trick.id}) }}" class="text-uppercase text-dark align-middle pt-3">{{ trick.name }}</a>
                                </div>
                                <div class="col-5 text-right">
                                    <a href="{{ path('update_trick', {'id' : trick.id}) }}" class="text-decoration-none align-middle">
                                        <i class="fas fa-edit"></i>
                                    </a>

                                    <button type="button" class="btn-delete-trick btn" data-toggle="modal" data-target="#deleteTrick">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                    <div class="modal fade" id="deleteTrick" tabindex="-1" role="dialog" aria-labelledby="deleteTrickLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5>Supprimer le trick</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p class="text-center">Veuillez confirmer la suppression du trick</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary rounded-0" data-dismiss="modal">Fermer</button>
                                                    <a href="{{ path('delete_trick', {'id' : trick.id}) }}" class="btn btn-primary text-decoration-none rounded-0">
                                                        Supprimer
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    {% if totalTricks > 12%}
        <div class="row my-4">
            <div class="text-center font-weight-bolder col-lg-8 col-md-8 col-sm-8 offset-lg-2 offset-md-2 offset-sm-2" id="loader">
                <a class="text-dark" href="#" id="load-more">
                    <i class="far fa-arrow-alt-circle-down fa-3x"></i>
                    <span class="align-middle d-block text-muted">
                        Charger plus
                    </span>
                </a>
            </div>
            <div class="text-right  col-lg-2 col-md-2 col-sm-2" id="scrollTop">
                <a href="#scrollTop">
                    <i class="fas fa-angle-double-up fa-3x"></i>
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var page = 1;
        var totalTricks = {{ totalTricks }}
        $("#load-more").on("click", function (e) {
            e.preventDefault();
            page++;
            var showTricks = page * 12;
            $.ajax({
                url: "/page-" + page,
                success: function (html) {
                    if (showTricks >= totalTricks) {
                        $("#tricks > div").append(html);
                        $("#load-more").hide();
                    } else {
                        $("#tricks > div").append(html);
                    }
                }
            });
        });
    </script>
{% endblock %}
