{% for trick in tricks %}
    <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
        <div class="trick card h-100 rounded-0">
            {% if trick.pictures is empty %}
                <img src="{{ asset('images/default-snowboard.jpg') }}" class="img-fluid" alt="Image trick">
            {% endif %}
            {% for picture in trick.pictures %}
                <div class="card-img-top">
                    {% if loop.first %}
                        <img src="{{ asset('uploads/pictures/') ~ picture.name }}" class="img-fluid" alt="Image trick">
                    {% endif %}
                </div>
            {% endfor %}

            <div class="card-footer font-weight-bolder rounded-0">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-8 text-truncate">
                        <a href="{{ path('trick_show', {'id' : trick.id}) }}" class="text-uppercase text-dark">{{ trick.name }}</a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-4 text-right">
                        <a href="{{ path('update_trick', {'id' : trick.id}) }}" class="text-decoration-none">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="{{ path('delete_trick', {'id' : trick.id}) }}" class="text-decoration-none">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
