{% extends 'base.html.twig' %}

{% if task == 'addTrick'  %}
    {% set task = 'Ajouter une figure' %}
{% else %}
    {% if  task == 'editTrick'  %}
        {% set task = 'Modifier la figure' %}
    {% endif %}
{% endif %}

{% block title %}{{ task }}{% endblock %}

{% block header %}
    <img src="{{ asset('images/bg17.jpg') }}" class="img-manage-trick img-fluid" alt="image neige">
{% endblock %}

{% block body %}
    <h2 class="mt-4 mb-3">{{task}}</h2>
    <ol class="breadcrumb rounded-0">
        <li class="breadcrumb-item">
            <a href="{{ path('tricks') }}">Accueil</a>
        </li>
        {% if trick is defined %}
            <li class="breadcrumb-item">
            <a href="{{ path('trick_show', {'id' : trick.id}) }}">Détail de la figure</a>
            </li>
        {% endif %}
        <li class="breadcrumb-item active">{{ task }}</li>
    </ol>
    {% for message in app.flashes('notice') %}
        <div class="alert alert-warning alert-dismissible fade show w-100 col-sm-12 col-md-6 offset-md-3 rounded-0" role="alert">
            {{ message }}
            <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    <section id="add-trick">
        <div class="row my-5">
        <div class="col-lg-8 offset-lg-2">
            {% if app.user %}
                {{ form_start(form) }}
                    {{ form_row(form._token) }}
                    {{ form_row(form.name, {'attr' : {'class' : 'rounded-0'}}) }}
                    {{ form_row(form.content, {'attr' : {'class' : 'rounded-0'}}) }}
                    {{ form_row(form.groupe) }}

                    <div id="pictures" data-index="{{ form.pictures|length > 0 ? form.pictures|last.vars.name + 1 : 0 }}" data-prototype="{{ include("manage_trick/trick.html.twig", {form: form.pictures.vars.prototype})|e('html_attr') }}">
                        {% for picture in form.pictures %}
                            {{ include("manage_trick/trick.html.twig", {form: picture}) }}
                        {% endfor %}
                    </div>
                    <button class="btn-add btn btn-primary rounded-0 my-2 ml-3" data-rel="#pictures" type="button">Ajouter une image</button>

                    <div id="videos" data-index="{{ form.videos|length > 0 ? form.videos|last.vars.name + 1 : 0 }}" data-prototype="{{ include("manage_trick/trick.html.twig", {form: form.videos.vars.prototype})|e('html_attr') }}">
                        {% for video in form.videos %}
                            {{ include("manage_trick/trick.html.twig", {form: video}) }}
                        {% endfor %}
                    </div>
                    <button class="btn-add btn btn-primary rounded-0 my-2 ml-3" data-rel="#videos" type="button">Ajouter une video</button>

                    <div class="text-right">
                        <button class="btn btn-success btn-add-trick rounded-0 font-weight-bold" type="submit">Valider</button>
                    </div>
                {{ form_end(form, { "render_rest": false }) }}

                {% else %}
                    <div class="text-center connect p-5 font-weight-bold">
                        <p>Vous devez être autehtifié pour pouvoir ajouter une figure</p>
                        <a href="{{ path('security_login') }}" class="btn btn-primary rounded-0">Connexion</a>
                    </div>
            {% endif %}
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
